<div class="session-form">
  <h2>Edit Your Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :patch) do |f| %>
    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email %>
      <% if resource.errors[:email].present? %>
        <p class="input-error"><%= resource.errors[:email].first %></p>
      <% end %>
    </div>

    <div class="form-field">
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password %>
      <p class="input-description">Leave blank if you don't want to change it.</p>
      <% if resource.errors[:password].present? %>
        <p class="input-error"><%= resource.errors[:password].first %></p>
      <% end %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation %>
      <% if resource.errors[:password_confirmation].present? %>
        <p class="input-error"><%= resource.errors[:password_confirmation].first %></p>
      <% end %>
    </div>

    <div class="form-field">
      <%= f.label :current_password, "Current Password" %>
      <%= f.password_field :current_password %>
      <p class="input-description">Required to confirm changes.</p>
      <% if resource.errors[:current_password].present? %>
        <p class="input-error"><%= resource.errors[:current_password].first %></p>
      <% end %>
    </div>

    <div class="form-field session-actions">
      <%= f.submit "Update", class: "button" %>
      <%= button_to "Delete My Account",
      registration_path(resource_name),
      method: :delete,
      data: {
        confirm: "Are you sure?",
      },
      class: "button button-destruct" %>
    </div>
  <% end %>
</div>
