<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tidr" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Open Graph tags for social sharing -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Tidr" />
    <meta property="og:description" content="Organize your time with Tidr." />
    <meta property="og:image" content="<%= image_url('social-preview.png') %>" />
    <meta property="og:url" content="https://tidr.benniemosher.dev/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Tidr" />
    <meta name="twitter:image" content="<%= image_url('social-preview.png') %>" />
    <meta name="twitter:description" content="Organize your time with Tidr." />

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag image_path("tidr-logo-transparent-square.png") %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="padding-top: 100px;">
    <%= render "layouts/navbar" %>

    <div class="flash">
      <% flash.each do |type, message| %>
        <% alert_type =
          case type.to_sym
          when :notice
            "notice"
          when :alert
            "alert"
          when :error
            "error"
          else
            "info"
          end %>
        <div class="flash-message <%= alert_type %> animate-slide-in">
          <span><%= message %></span>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <%= render "layouts/footer" %>

    <script>
      setTimeout(() => {
        const flashes = document.getElementsByClassName("flash-message");
        Array.from(flashes).forEach(flash => {
          flash.style.transition = "opacity 0.5s ease";
          flash.style.opacity = "0";

          setTimeout(() => {
            flash.remove();
          }, 500);
        });
      }, 3000);
    </script>
  </body>
</html>
