<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if resource.errors[:email].present? %>
      <p class="input-error"><%= resource.errors[:email].first %></p>
    <% end %>
  </div>

  <div class="form-field session-actions">
    <%= f.submit "Resend unlock instructions", class: "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
