<div class="session-form">
  <h2>Reset Password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-field">
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password %>
      <% if resource.errors[:password].present? %>
        <p class="input-error"><%= resource.errors[:password].first %></p>
      <% end %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation %>
      <% if resource.errors[:password_confirmation].present? %>
        <p class="input-error"><%= resource.errors[:password_confirmation].first %></p>
      <% end %>
    </div>

    <div class="form-field session-actions">
      <%= f.submit "Reset Password", class: "button" %>
    </div>
  <% end %>
</div>
