<div class="session-form">
  <h2>Forgot Password?</h2>
  <p>Enter your email, and we’ll send you instructions to reset your password.</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email %>
      <% if resource.errors[:email].present? %>
        <p class="input-error"><%= resource.errors[:email].first %></p>
      <% end %>
    </div>

    <div class="form-field session-actions">
      <%= f.submit "Send Reset Instructions", class: "button" %>
      <%= link_to "Cancel", new_session_path(resource_name) %>
    </div>
  <% end %>
</div>
